# Entornos virtuales
venv/
env/
.env/

# Caché de Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Configuración local e IDEs
.vscode/
.idea/
.env

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Flask
instance/
.webassets-cache

# Utilidades
*.log
